include includes/head.pug
title datasetarchiver
link(href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet" type="text/css" crossorigin)
link(href="https://unpkg.com/@triply/yasgui/build/yasgui.min.css" rel="stylesheet" type="text/css" crossorigin)

html
  div#root
  script(src=`https://unpkg.com/react@16/umd/react.development.js` crossorigin)
  script(src=`https://unpkg.com/react-dom@16/umd/react-dom.development.js` crossorigin)
  script(src="https://unpkg.com/@triply/yasgui/build/yasgui.min.js" crossorigin)
  script(src=`/public/client.js`)