doctype html
head
  meta(charset='UTF-8')
  link(rel='icon' type='image/png' href=`${basePath}/public/api-explorer/favicon-32x32.png` sizes='32x32')
  link(rel='icon' type='image/png' href=`${basePath}/public/api-explorer/favicon-16x16.png` sizes='16x16')
  title datasetarchiver
h1 Welcome to datasetarchiver
ul
  li
    h3
      a(href=`${basePath}/api-explorer/`) Interactive API Doc!